<%- include("templates/header") %>
    <div>
        <h1>404 page</h1>
        <p>Oops! You shouldn't be here. Let me help you</p>
        <a href="/" class="btn btn-dark btn-block">Back to Home</a>
    </div>
    <%- include("templates/footer") %>